*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #fff;
}
body {
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}

.item {
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: auto;
  text-align: center;
  transition: transform 0.3s; 
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 2rem 2rem 0rem;
  line-height: 0.7;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  width: 70%;
  margin: auto;
  transition: width 0.3s cubic-bezier(0.43, 0.41, 0.22, 0.91), filter 0.3s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 110%;
}

.card__image--user2 {
  background-image: url('./images/user1.jpeg');
}
.card__image--user3 {
  background-image: url('./images/user2.jpeg');
}
.card__image--user1 {
  background-image: url('./images/user3.jpeg');
}
.card__title {
  color: #111;
  font-weight: 800;
}

.card__text {
  color: grey;
  flex: 1 1 auto;
  font-size: 10px;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.social-media {
  font-size: 10px;
  color: grey;
  letter-spacing: 5px;
  opacity: 0;
  height: 0;
  transition: height 0.4s, opacity 0.3s, margin-bottom 0.2s;
}

.description {
  font-size: 10px;
  line-height: 1.2;
  opacity: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  transition: height 0.5s;
}
@media (min-width: 45rem){
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    grid-gap: 0.5rem;
    padding: 0;
  }
  .card__title {
    font-size: 0.9rem;
  }
  .description {
    max-width: 12rem;
  }
  .card:hover {
    transform: translate(0rem, -1rem);
  }
  .card:hover .card__image {
    filter: contrast(100%);
    width: 80%;
  }
  .card:hover .social-media {
    opacity: 1;
    height: auto;
    margin-bottom: 0;
  }
  .card:hover .description {
    opacity: 1;
    height: auto;
  }
  .card:hover .card__text {
    display: none;
  }
}
 
@media(min-width: 65rem){
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
  }
  .description {
    max-width: 12rem;
  }
  .card__title {
    font-size: 1.1rem;
  }
  .card:hover {
    transform: translate(0rem, -1rem);
  }
  .card:hover .card__image {
    filter: contrast(100%);
    width: 80%;
  }
  .card:hover .social-media {
    opacity: 1;
    height: auto;
    margin-bottom: 0;
  }
  .card:hover .description {
    opacity: 1;
    height: auto;
  }
  .card:hover .card__text {
    display: none;
  }
}

@media (max-width: 45rem){
  .description{
    height: auto;
    opacity: 1;
  }
  .container{
    width: 100%;
    margin-top: 0;
  }
  .social-media {
    height: auto;
    opacity: 1;
  }
}