.form-group{
    margin: 20px;
}
.btn-warning{
    position: absolute;
    right: 50%;
    color:black
}
.btn-primary{
    position: absolute;
    right: 70%;
    color:black
}
#add{
    text-align: center;
    background-color:#3f4142;
    color: thistle;
}
.hh{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-weight: normal;
    color: rgb(71, 60, 60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

body{
    background-color:hsla(62, 74%, 90%, 0.76);;
    
}
